{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
{#        <title>等待春天</title>#}

        <style TYPE="text/css">
            body {
                {#background-image: url("static/index.png");#}
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment:fixed;
            }
            #1 {

            }
        </style>
    </head>

    <body>
        <div>Mobile</div>
        <!--first page-->
        <div id="1">
            <p>大噶好</p>
            <p>我不是何方印</p>
            <p>仅把此页献给许洪陈小和实验对象</p>
        </div>
        <!---->
        <!--second page-->
        <div>
            <p>的歪脖子💥朴</p>
            <p>和他的朋友们</p>
        </div>

        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div>
            test
        </div>


    </body>
</html>