{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <style TYPE="text/css">
        body {
            background-image: url("static/index.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment:fixed;
        }
    </style>
    <body>
{#        <img src="{% static 'index.png' %}" alt="">#}
    </body>
</html>